
<footer>
        <nav class="centerText">
                <a href="/">   HOME   </a>
        </nav>
        <img class="centerIMG" src="/img/csumb.png" alt="csumb" />
        <!--<div class="footer" > -->
        <h4 class="centerText">Kyle Dilbeck CSUMB 2019 &copy;</h4>
        <!--</div>-->
        
        
</footer>

</body>

</html>